@charset "UTF-8";
.sr-only {
		    position: absolute;
		    width: 1px;
		    height: 1px;
		    padding: 0;
		    overflow: hidden;
		    clip: rect(0,0,0,0);
		    white-space: nowrap;
		    border: 0;
		}
.pos-rel {
    position: relative!important;
}

.header-cagov-logo img {		
    top: 4px;
    height: 32px;
    position: absolute;
}